version: '3.9'

services:
  postgres:
    image: postgres:latest
    container_name: pg
    restart: always
    ports:
      - 5432:5432
    volumes:
       - ./db-data:/var/lib/postgresql/data
       - ./create_tables.sql:/docker-entrypoint-initdb.d/create_tables.sql
    environment:
      - POSTGRES_DB=database
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password